{% extends "main/main.html" %}
{% block content %}
<style>
p {
  padding left:25%;
  color:white;
  font-size: 15;
}

.cont {
  background-color: black;
  border-radius: 10px;
  opacity: .9;
}
.buzz{
  font-style: italic;
}
.disapear:hover {
  opacity:.1
}
</style>
<div class="cont">
<br>
<br>
<svg width="100" height="100">
  <circle cx="50" cy="50" r="40" stroke="white" stroke-width="5" fill="red" />
</svg>
<h1 class="title">Book I: Paradise</h1>
<hr>
<br>
<div>
  <br>
  <br>
  <p> The very nature of this book is false </p>
  <br>
  <p> It has to be, </p>
  <br>
  <p> For if it was true it would shatter the beams that hold together modern society </p>
  <br>
  <br>
  <br>
  <br>
  <p> The mind is it own place, and in itself can make a hell of heaven, and a heaven of hell. </p>
  <br>
  <br>
  <br>
  <p> Better to rule in hell than to serve in heaven. </p>
  <br>
  <br>
  <br>
  <p class="disapear"> Capture your mind, and your heart and soul with follow. </p>
  <br>
  <p> The mind has no firewall </p>
  <br>
  <p> A lie told often enough becomes the truth </p>
  <br>
  <p>  </p>
  <br>
  <p>   </p>
  <br>
  <p>  </p>
  <br>
  <p>  </p>
  <br>
  <br>
  <p> <span class="buzz"> What if they are wrong </span> </p>
  <br>
  <br>
  <p> <span class="buzz"> What if there is no paradise after death? </span> </p>
  <br>
  <br>
  <h1 class="title"> What if this world could be paradise?...</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p> <span class="buzz"> Isn't it worth a try? </span> </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<br>
<br>
<br>
<div style="padding left:25%; color:white; bottom:5"><a href="/salvation/bookI" target="blank">book I</a><br><br><a href="/salvation/" target="blank">home</a></div>
<br>
</div>
{% endblock %}
