{% extends "main/main.html" %}
{% block content %}
<style>
.bigguy:hover {
  font-size: xx-large;
  opacity: 1;
  color: red;
  font-style: italic;
}
p {
  padding left:25%;
  color:white;
  font-size: 15;
}
.cont {
  background-color: black;
  border-radius: 10px;
  opacity: .9;
}
.bezz:hover {
  color: orange;
  font-style: italic;
  font-size: large;
  font-family: fantasy;
}
.buzz{
  font-style: italic;
}
</style>
<div class="cont">
<br>
<br>
<svg width="100" height="100">
  <circle cx="50" cy="50" r="40" stroke="white" stroke-width="5" fill="red" />
</svg>
<h1 class="title">Preface</h1>
<hr>
<br>
<div>
  <p> Have you ever <span class="bezz">question</span>ed reality? </p>
  <br>
  <p> Have you ever questioned <span class="bezz">reality</span>? </p>
  <br>
  <p> Have you ever <span class="bezz">question</span>ed reality? </p>
  <br>
  <p> Have you ever questioned <span class="bezz">reality</span>? </p>
  <br>
  <p> Have you ever <span class="bezz">question</span>ed reality? </p>
  <br>
  <p> Have you ever questioned <span class="bezz">reality</span>? </p>
  <br>
  <p> Have you ever <span class="bezz">question</span>ed reality? </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p> Have you every woken up from a dream </p>
  <br>
  <br>
  <br>
  <p> Within a dream? </p>
  <br>
  <br>
  <br>
  <p> <a href="">Wake up</a> </p>
  <br>
  <br>
  <br>
  <p class="bigguy"> Paradise is waiting </p>
  <br>
  <br>
  <br>
  <p class="bezz"> </p>
  <br>
  <p class="bezz"> </p>
  <br>
  <p class="bezz"> </p>
  <br>
  <p class="bezz"> Reality is fragile </p>
  <br>
  <p class="bezz"> Reality is fragile </p>
  <br>
  <p class="bezz"> Reality is fragile </p>
  <br>
  <p class="bezz">  </p>
  <br>
  <p class="bezz">  </p>
  <br>
  <p class="bezz">  </p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <p>BREAK THE SIMULATION</p>
  <br>
  <br>
  <br>
  <br>
  <h1 class="title"> What if this life could be paradise?...</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p> <span class="buzz"> Isn't it worth a try? </span> </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<br>
<br>
<br>
<div style="padding left:25%; color:white; bottom:5"><a href="/salvation/gospel/book1/" target="blank">book I</a><br><br><a href="/salvation/" target="blank">home</a></div>
<br>
</div>
{% endblock %}
