{% extends "main/main.html" %}
{% block content %}
<div style="padding-top:22%; text-align:center">
<h1 class="title">Welcome to Paradise</h1>
</div>
<br>
<div>
  <p style="padding left:25%; color:white; opacity:.9"> Have you ever questioned your reality? Do you want to? </p>
  <p style="padding left:25%; color:white; opacity:.9"> Don't you wish life could be paradise? </p>
</div>
<br>
<div style="padding left:25%; color:white; bottom:5"><a href="/blog" target="blank">Gospel</a></div>
</div>
{% endblock %}
